body {
    min-height: 100vh;
    height: auto;
    background-color: #f0f0f0 !important;
}

#app {
    min-height: 100vh;
    height: auto;
}

h1 {
    font-size: 1em !important;
    margin-bottom: 0;
}

.locale-icon {
    width: 40px !important;
    height: 27px !important;
}

.main-header {
    height: 3em;
}

#page {
    min-height: 92.5vh;
    height: auto;
}

#main-aside {
    background-color: $themes-major;
    max-width: 13rem;
}

#main-aside a {
    color: #ddd0af;
    text-decoration: none;
}

.aside-main {
    color: #ddd0af;
    font-size: .85em;
}

.aside-slave:hover,
.aside-slave:focus {
    background-color: #272838 !important;
}

.aside-slave:hover>a,
.aside-slave:focus>a {
    color: #fff;
}

.aside-icon {
    fill: #ddd0af;
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    left: .25em;
    top: 50%;
    transform: translateY(-50%);
}

.aside-slave a {
    position: relative;
}

.aside-label {
    margin-left: 2em;
}

.btn-primary {
    background-color: $themes-minor;
    border-color: $themes-minor;
}

.btn-primary:hover,
.btn-primary:focus,
{
    background-color: $themes-major;
    border-color: $themes-major;
}

.box,
.box-color {
    background-color: #fff;
    position: relative;
    margin-bottom: 1.5rem;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
}

.box-header {
    position: relative;
    padding: 1rem;
}

.box-header h2 {
    margin: 0;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0 !important;
}

.box-header small {
    display: block;
    margin-top: 4px;
    opacity: 0.6;
}

.box-body {
    padding: 1rem;
}

.box-divider {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    margin: 0;
    height: 0;
}

.table-responsive {
    display: block;
    width: 100%;
    min-height: .01%;
    overflow-x: auto;
}

.table-bordered {
    border: 1px solid rgba(120, 130, 140, 0.045);
}

.m-a-0 {
    margin: 0 0 !important;
}

table {
    border-collapse: collapse;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.table-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 2px;
    margin: 4px;
    background-color: #0cc2aa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-icon svg {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.table-icon:hover,
.table-icon:focus {
    background-color: #2a2b3c;
    cursor: pointer;
}

.form-transparent {
    background: transparent;
    border: 0;
    text-align: center;
}

table>thead>tr>th {
    padding: 10px 16px;
}

table thead th {
    vertical-align: bottom;
}

#sidebar li {
    position: relative;
}

#sidebar .active {
    border-radius: 50%;
    height: .5em;
    position: absolute;
    width: .5em;
    background: #0cc2aa;
    right: -.25em;
    top: 50%;
    transform: translateY(-50%);
}