:root {
    --white: #ffffff;
    --black: #000000;
    --yellow: #ffc501;
    --grey: #e9eef1;
    --c-blue: #00577d;
}

@font-face {
    font-family: 'BlissPro';
    src: url('/fonts/BlissPro/BlissPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    display-font: swap;
}

@font-face {
    font-family: 'BlissPro';
    src: url('/fonts/BlissPro/BlissPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    display-font: swap;
}

@font-face {
    font-family: 'BlissPro';
    src: url('/fonts/BlissPro/BlissPro-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
    display-font: swap;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100% !important;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-height: 100vh;
    font-family: 'BlissPro';
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'BlissPro';
    font-style: normal;
    font-size: 36px;
    line-height: 36px;
}

a,
p,
ul,
li,
div,
input,
label,
section {
    text-decoration: none;
    outline: none;
    border: none;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

img {
    width: 100%;
}

.hidden {
    display: none !important;
}

.text-18 {
    font-size: 18px;
}

.row {
    display: block;
    width: 100%;
}

.c-blue {
    color: var(--c-blue);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.white {
    color: var(--white);
}

.mt-8 {
    margin-top: 8px;
}

.mb-51 {
    margin-bottom: 51px;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.btn-style-1 {
    background-color: var(--yellow);
    color: var(--black);
    text-transform: uppercase;
    font-size: 1.5em;
    max-width: 450px;
    width: 100%;
    padding: .5em;
    margin: 1em 0;
    display: block;
    position: relative;
    text-align: center;
    border-radius: .5em;
}

.btn-style-1.btn::before {
    position: absolute;
    content: '';
    background: linear-gradient(to bottom right, #fff7b4, #735900), linear-gradient(-90deg, #fff7b4, #e2e2f2), linear-gradient(90deg, #735900, #fff7b4);
    z-index: -1;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .25);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: .6em;
    top: -3px;
    left: -3px;
}

.locale-icon {
    width: 40px !important;
    height: 27px !important;
}

#main {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    background-position-y: center;
    background-size: auto;
    background-size: cover;
    justify-content: flex-start;
}

#main .landing-locale {
    display: block;
    position: absolute;
    top: 2em;
    right: 2em;
    margin: auto;
    list-style-type: none;
    background: rgba(0, 0, 0, .25);
    border-radius: 4px;
    padding: .5em .5em 0.25em 1.25em;
}

#main .landing-locale a {
    color: var(--white);
    text-decoration: none;
}

.landing-locale li {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    text-transform: uppercase;
    width: 37px;
}

.landing-locale .dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.dropdown-toggle:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    top: 15px;
    left: 5px;
}

#main-slide-1 {
    height: inherit;
}

#main-slide-1 .content {
    max-width: 767px;
    margin-left: 6.9%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    margin: 0;
    margin-bottom: .25em;
    padding: 0;
    font-family: 'BlissPro';
    font-weight: bold;
    font-size: 3.5em;
    line-height: 1em;
}

h1 span {
    display: block;
}

h1 .bigger {
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 1.25em;
}

#main-slide-1 .text {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: lighter;
    margin-top: 1em;
}

#cadr-7 {
    display: flex;
}

#cadr-7 .content {
    margin: 124px auto 224px;
    padding: 0;
}

#cadr-7 h2 {
    margin: 0 auto 112px;
}

#cadr-11 {
    display: block;
    position: relative;
}

#cadr-11 .landing-title {
    margin: 0 auto 88px;
}

#cadr-11 .content {
    margin: 125px auto 100px;
    width: 100%;
    max-width: 563px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-callback-input {
    background-color: var(--grey);
    max-width: 563px;
    width: 100%;
    height: 57px;
    padding: 28px;
    border-radius: 11px;
    margin-bottom: 14px;
}

.landing-callback-check {
    align-self: flex-end;
}

@media(max-width:991px) {
    h1 {
        font-size: 2.5em;
    }
}

@media(min-width:768px) {
    #main {
        background-image: url('/img/cadr-1.webp');
        background-position: center no-repeat;
    }
    #cadr-7 {
        background-image: url('/img/cadr-7.webp');
        background-position-x: -10px;
    }
    #cadr-7 .content {
        width: 73vw;
    }
}

@media(max-width:767px) {
    #main {
        background-image: url('/img/cadr-1-mob.webp');
        background-position: center no-repeat;
    }
    #main-slide-1 .content {
        margin: 2em 1em 0;
        height: auto;
        min-height: 100%;
    }
    h1 {
        font-size: 1.5em;
    }
    #main-slide-1 .text {
        font-size: 1.25em;
    }
    #main-slide-1 .btn {
        margin: 3em auto 1em;
    }
    #cadr-7 {
        background-image: url('/img/cadr-7.webp');
        background-position-x: -10px;
    }
    #cadr-7 .content {
        width: 100%;
        padding: 1em;
    }
}